# List Comparison
### Write a Python program to find the common elements between two lists.

*Ref: https://medium.com/@nikitasilaparasetty/python-interview-coding-questions-with-solutions-for-beginners-7f6d782defac*

In [5]:
def listComparison(one, two):
    # Define an empty list
    same = []
    # Loop through the first list
    for o in one:
        # Loop through the second list
        for t in two:
            # If the two values are the same
            if o == t:
                # Append the value to a new list
                same.append(o)
    return same

In [9]:
# Example in integer values
one = [3, 5, 6]
two = [6, 9, 2, 0, 3]
listComparison(one, two)

[3, 6]

In [10]:
# Example in decimal values
one = [3.2, 0.5, 1.6, 2.7]
two = [1.6, 0.9, 2.7, 0.11, 3.9]
listComparison(one, two)

[1.6, 2.7]

In [12]:
# Example in string values
one = ["Harry", "Jessica", "Peter", "Naomi"]
two = ["Erin", "Harry", "Penelope", "Charlotte", "Jessica"]
listComparison(one, two)

['Harry', 'Jessica']